body {
    font-family: Tahoma, Arial, sans-serif;
}

#menu {
    font-size: larger;
    height: 30px;
    background-color: black;
    border: 1px solid #ffd700;
}

#menu ul, #menu li {
    padding: 0;
    margin: 0;
}

#menu li {
    float: left;
    list-style: none;
}

#menu li a {
    width: 100px;
    height: 30px;
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    background-color: black;
    color: #6f5b5b;
}

#menu li a:hover {
    color: white;
}

.row {
    display: flex;
    background-color: white;
}

.list {
    text-align: center;
    font-weight: bold;
    color: blue;
    background-color: #423b32;
}

h1, h3 {
    font-weight: bold;
    color: gold;
    margin: 0;
}

.footer {
    text-align: center;
    background-color: #b38c8c;

}

button {
    width: 200px;
    height: 50px;

}

.bot {
    background-color: #423b32;
    text-align: center;
}
.col-l-1 {width: 8.33333%;}
.col-l-2 {width: 16.66667%;}
.col-l-3 {width: 25%;}
.col-l-4 {width: 33.33333%;}
.col-l-5 {width: 41.66667%;}
.col-l-6 {width: 50%;}
.col-l-7 {width: 58.33333%;}
.col-l-8 {width: 66.66667%;}
.col-l-9 {width: 75%;}
.col-l-10 {width: 83.33333%;}
.col-l-11 {width: 91.66667%;}
.col-l-12 {width: 100%;}